h1 = @question.title
p = @question.body

- if current_user&.author_of?(@question)
    p= link_to 'Delete Question', question_path(@question), method: :delete

h2 Answer:

.answers
  = render @question.answers


h2 Add an Answer:

.answer-errors
  = render 'shared/errors', resource: @answer

== render 'answers/form'